!!! 5
%html{html_attrs}
%head
	%title Seurrat

	%script{:type => 'text/javascript', :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
	
	%script{:type => 'text/javascript', :src => "http://js.pusherapp.com/1.4/pusher.min.js"}
	%script{:type => 'text/javascript', :src => "/javascripts/seurrat.js"}
	
	%link{:href => "/stylesheets/chat.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}

%body

	<p id='foo'>draw</p>
	
	<canvas id="original">nope</canvas>
	<canvas id="composed">nope</canvas>	
